body {
	background-color: #fcd9d7;
	margin:0;
}
#header{
	background-color: #fcd9d7;
	height: 80px;
	margin: 0;
}
#navbar{
	background-color: #f79b82;
	font-family: DSN Erawan,KS HINTHAI;
	font-size: 18px;
	/*height: 60;*/
	margin: 0;
}
#navbar ul li {
	color: white;
	display: inline-block;
	/*display: block;*/
	padding: 15px 30px;
	text-align: center;
}
#navbar ul li:hover {
	background-color: #fcd9d7;
}
h1{
	color: #E9967A;
}
.button {
    background-color: #f79b82;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.pk {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.pkk {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}